#user-birth-gender-box{
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
}

#user-birth-gender-box form{
    width: 100%;
}

#user-birth-gender-box .col-lg-12{
    padding: 0;
}

/* DATE PICKER */
#user-birth-gender-box .react-date-picker {
    display: unset;
}

#user-birth-gender-box .Dropdown-option {
    margin: 10px 0!important;
}

#user-birth-gender-box .Dropdown-option:last-child{
    margin-bottom: 0!important;
}

#user-birth-gender-box .react-date-picker__wrapper {
    display: flex;
    border: thin solid gray;
    background-color: #FFF;
    height: 40px;
    margin-bottom: 15px;
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    color: #8b8b8b;
    margin-bottom: 15px;
    padding-left: 10px;
    border: 0;
}

#user-birth-gender-box .react-date-picker__wrapper input{
    padding: 0!important;
    margin: 0!important;
    margin-bottom: 15px;
    border: 0;
}

#user-birth-gender-box .react-date-picker__inputGroup__input {
    color: #8b8b8b;
}

/*****************/

/* DROPDOWN */
#user-birth-gender-box .dropdown-gender{
    background-color: #FFF;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #FFF;
    width: 100%;
    border: 0;
    margin: 0;
    margin-bottom: -15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    color: #8b8b8b;
}

.user-birth-box{
    border: 1px solid #ced4da;
    height: 42px;
    border-radius: 4px;
    overflow: hidden;
}

