@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page { width: 360px; margin: auto; }
#login-page-box{margin-top: -49px}
.login-page .form { border-radius: 4px; position: absolute; z-index: 1; background: #FFFFFF; max-width: 360px; margin: 0 auto 100px; margin-top: 15%; padding: 45px; text-align: center; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }
.login-page .form input { font-family: "Roboto", sans-serif; outline: 0; background: #f2f2f2; width: 100%; border: 0; margin: 0 0 15px; padding: 15px; box-sizing: border-box; font-size: 14px; }
.login-page .form .btn-form { text-align: center; font-family: "Roboto", sans-serif; text-transform: uppercase; outline: 0; background: rebeccapurple; width: 100%; border: 0; padding: 15px; color: #FFFFFF; font-size: 14px; -webkit-transition: all 0.3 ease; transition: all 0.3 ease; cursor: pointer; }
.login-page .form .btn-form:hover,.form .btn-form:active,.form .btn-form:focus { background: rebeccapurple; }
.login-page .form .message { margin: 15px 0 0; color: #b3b3b3; font-size: 12px; }
.login-page .form .message a { color: black; font-weight: bold; text-decoration: none; }
.login-page .form .register-form { display: none; }
.login-page .container { position: relative; z-index: 1; max-width: 300px; margin: 0 auto; }
.login-page .container:before, .container:after { content: ""; display: block; clear: both; }
.login-page .container .info { margin: 50px auto; text-align: center; }
.login-page .container .info h1 { margin: 0 0 15px; padding: 0; font-size: 36px; font-weight: 300; color: #1a1a1a; }
.login-page .container .info span { color: #4d4d4d; font-size: 12px; }
.login-page .container .info span a { color: #000000; text-decoration: none; }
.login-page .container .info span .fa { color: #EF3B3A; }

.login-page .login-form #span-login p{ margin-top: -15px; font-size: 17px; font-family: helvetica; color: #FFF!important; font-weight: bold; }

.login-page .form{ background-color: transparent; box-shadow: none!important}

.login-page  #alert-login-confirmation{
    color: #FFF;
}
/* 
#banner-{
    background-image: url("https://images.pexels.com/photos/169647/pexels-photo-169647.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200")!important;
} */