#footer-box {
    width: 100%;
    height: 100px;
    background-color: #343a40;
    text-align: center;
    padding: 25px 0  15px 0;
}

#footer-box a:hover{
    color: rebeccapurple;
}

#footer-box a, #footer-box span{
    color: white;
    text-decoration: none;
    font-size: 13px;
}

