#room-box{
    margin-bottom: 60px;
}

#room-box p{
    font-size: 15px;
    color: gray;
}

#room-box h5{
    font-size: 19px;
    color: rebeccapurple!important;   
}

#room-box h6{
    font-size: 17px;
    color: darkslategray;
}

#room-box h4{
    color: rebeccapurple;
    margin-bottom: 40px;
}

#room-box .room-images{
    width: 100%;
    height: 450px;
    border: 1px solid #ced4da;
}

/* Carrousel arrows */
#room-box .slider-control-centerright button, #room-box .slider-control-centerleft button {
    background-color: transparent!important;
    border: 0;
}

.room-data-box{
    padding: 60px!important;
    /* background-color: white;
    border: 1px solid #ced4da; */
    margin-top: -20px;
}


#room-box .room-headline{
    position: relative;
    margin-bottom: 50px;
    color: white;
    font-weight: 900;
    font-size: 27px;
    top: -50px;
    left: 20px;
}

#room-box .room-price{
    position: absolute;
    margin-bottom: 50px;
    color: white;
    font-weight: 900;
    font-size: 27px;
    bottom: 50px;
    right: 20px;
}

#room-box .room-description{
    border: 0;
    resize: none;
    font-size: 15px;
    color: gray;
    background-color: unset;
}

#room-box .icon-circle{
    font-size: 6px;
    margin-top: 7px;
    margin-left: 14px;
}

.room-spec-box{
    height: 120px;
    margin-top: 40px;
    height: 190px;
    padding: 30px;
}

#room-box .data-room{
    padding-bottom: 30px;
    padding-top: 40px;
    border-bottom: 1px dashed #ced4da;
}

#room-box .room-owner-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.room-carrousel-box{
    border-bottom: 1px dashed #ced4da;
}