#profile-suggestion-box .profile-suggestion-image{
    width: 100%;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#profile-suggestion-box{
    height: 100%;
    background-color: white;
    padding: 15px 3px 15px 3px;
    border: 1px solid rgb(206, 212, 218);
    border-radius: 6px;
}

.badge-avg {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 77px;
    top: -43px;
}

svg.svg-inline--fa.fa-certificate.fa-w-16.fa-4x.icon-badge {
    width: 50px!important;
}

.badge-avg h5 {
    top: -42px;
    color: white;
    font-size: 15px;
    position: relative;
    font-weight: 800;
}

.btn-view-profile-suggested{
    width: 100%;
    color: white!important;
    background-color: #663399;
    border: none;
    font-size: 16px;
    font-weight: bold;
    height: 35px;
}

.btn-view-profile-suggested:hover{
    background-color: slategray;
}

